body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 25%;
  width: 30vw;
  height: 20vh;
  border: 2px solid black;
  justify-content: center;
  padding: 20px;
}

.inp {
  width: 60%;
  height: 40px;
  font-size: larger;
  cursor:text;
}

.btn {
  width: 20%;
  background-color: blue;
  color: antiquewhite;
  height: 40px;
  margin-bottom: 12px;
  cursor: pointer;
}

.input {
  border: 5px solid black;
  width: 70%;
  margin: 5px 30px;
  height: 25%;
  padding: 0;
}
